[Unit]
Description=genesis-skeleton
{{#unitOptions}}
{{key}}={{value}}
{{/unitOptions}}
{{^unitOptions}}
After=network.target nss-lookup.target
{{/unitOptions}}

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/usr/lib/genesis-skeleton
ExecStart=/bin/bash -c "java -jar /usr/lib/genesis-skeleton/target/scala-2.11/genesis-skeleton.jar"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{name}}
User={{username}}
Group={{username}}
{{#environment}}
Environment={{key}}={{value}}
{{/environment}}
{{#serviceOptions}}
{{key}}={{value}}
{{/serviceOptions}}

[Install]
WantedBy=multi-user.target
