[Unit]
Description=My Cool API
Before=my-cooler-api.service
After=my-coolest-api.service
Requires=my-coolest-api.service

[Service]
WorkingDirectory=/usr/lib/my-cool-api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-cool-api
User=my-cool-api
Group=my-cool-api
ExecStart=/usr/bin/node --run start

[Install]
WantedBy=multi-user.target
