[Unit]
Description=My Super Long Long Long Long Cat API
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/usr/lib/my-super-long-long-long-long-cat-api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-super-long-long-long-long-cat-api
User=my-super-long-long-long-long-cat
Group=my-super-long-long-long-long-cat
ExecStart=/usr/bin/node --run start

[Install]
WantedBy=multi-user.target
